* {
    box-sizing: border-box;
  }

  :root {
    --font-open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
  }
  body {
    font-family: var(--font-open-sans);
  }
  .container {
    width: 1352px;
    margin: 0 auto;
  }
  .header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .header__nav {
    display: flex;
  }
  .logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: #08A6E4
  }